<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        CREATE CRON PROCESS JOB
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="fa fa-dashboard"></i> Swarm</a>
        </li>
        <li>Job</li>
        <li class="active">Create cron process job</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid" id="view">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" v-model="job.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Group</label>
                            <input class="form-control" type="text" v-model="job.group" placeholder="Group">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cron</label>
                            <input class="form-control" type="text" v-model="job.cron" placeholder="Cron">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>RetryCount</label>
                            <input class="form-control" type="text" v-model="job.retryCount" placeholder="RetryCount">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Sharding</label>
                            <input class="form-control" type="text" v-model="job.sharding" placeholder="Sharding">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Load</label>
                            <input class="form-control" type="text" v-model="job.load" placeholder="Load">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>LogPattern</label>
                            <input class="form-control" type="text" v-model="job.logPattern" placeholder="LogPattern">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Concurrent</label>
                            <select class="form-control" style="width: 100%;" v-model="job.allowConcurrent">
                                <option selected="selected">True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>ShardingParameters</label>
                            <input class="form-control" type="text" v-model="job.shardingParameters" placeholder="ShardingParameters">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Application</label>
                            <input class="form-control" type="text" v-model="job.application" placeholder="Application">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Arguments</label>
                            <input class="form-control" type="text" v-model="job.arguments" placeholder="Arguments">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Owner</label>
                            <input class="form-control" type="text" v-model="job.owner" placeholder="Owner">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" type="text" v-model="job.description" placeholder="Description">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="button" class="btn btn-default" @@click="create()">SUBMIT</button>
                <a class="btn btn-default" href="/job/cron">BACK</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
</section>

@section scripts{
    <script src="~/js/cronProc.js" asp-append-version="true"></script>
}