<h4>Job Detail</h4>
<input hidden="true" id="jobId" value="@ViewData["JobId"]"/>
<table id="view" class="card bordered highlight responsive-table centered">
    <tbody>
    <tr v-show="els.length==0">
        <td colspan="13">
            No data to display...
        </td>
    </tr>
    <tr v-for="el in els">
        <td>
            <span class="left" v-text="el[0]"></span>
        </td>
        <td>
            <span class="left" v-text="el[1]"></span>
        </td>
    </tr>
    </tbody>
</table>


@section scripts{
    <script>
        $(function() {
            var jobId = $('#jobId').val();
            if (!jobId) return;
            new Vue({
                el: '#view',
                data: {
                    els: []
                },
                mounted: function() {
                    loadView(this);
                }
            });

            function loadView(vue) {
                const url = '/swarm/v1.0/job/' + jobId;
                hub.get(url,
                    function(result) {
                        vue.$data.els = result.data;
                    });
            }
        });
    </script>
}