<h4>
    JOB
</h4>
<div id="view" class="row">
    <div class="row">
        <div class="col s3 m3 input-field">
            <i class="material-icons prefix">search</i>
            <input id="queryKeyword" type="text" class="validate" v-model="keyword" v-on:keypress="onKeyPress($event)">
            <label for="queryKeyword">Keyword</label>
        </div>
    </div>
    <table class="card bordered highlight responsive-table centered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th>State</th>
            <th>Trigger</th>
            <th>Performer</th>
            <th>Executor</th>
            <th>Load</th>
            <th>Sharding</th>
            <th>Owner</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="jobs.length==0">
            <td colspan="13">
                No data to display...
            </td>
        </tr>
        <tr v-for="job in jobs">
            <td>
                <span v-text="job.name"></span>
            </td>
            <td>
                <span v-text="job.group"></span>
            </td>
            <td>
                <span v-text="job.state"></span>
            </td>
            <td>
                <span v-text="job.trigger"></span>
            </td>
            <td>
                <span v-text="job.performer"></span>
            </td>
            <td>
                <span v-text="job.executor"></span>
            </td>
            <td>
                <span v-text="job.load"></span>
            </td>
            <td>
                <span v-text="job.sharding"></span>
            </td>
            <td>
                <span v-text="job.owner"></span>
            </td>
            <td>
                <a class="waves-effect waves-light btn-small" :href="'/job/state?jobId=' + job.id">State</a>
                <a class="waves-effect waves-light btn-small" :href="'/job/log?jobId=' + job.id">Log</a>
                <a class="waves-effect waves-light btn-small" :href="'/job/detail/' + job.id">Detail</a>
                <button class="waves-effect waves-light btn-small" @@click.stop="trigger(job.id,job.state,job.concurrentExecutionDisallowed)">Trigger</button>
                <button class="waves-effect waves-light btn-small" @@click.stop="remove(job.id)">Remove</button>
                <button class="waves-effect waves-light btn-small" @@click.stop="exit(job.id)" :disabled="job.state != 'exit'">Exit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col s12 m6 left">
            <div v-show="total>size" id="pagination">
            </div>
        </div>
        <div class="col s12 m6 right ">
            <h6 class="right" v-show="total>size">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</h6>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/job.js" asp-append-version="true"></script>
}