<div id="view">
    <div class="row">
        <div class="log-body">
            <div v-for="el in els" class="log-line">
                <a v-text="el.id"></a>
                <span v-text="el.clientName + '  '+ el.clientGroup + '  ' + el.jobId + '  ' + el.traceId + '  ' + el.sharding 　+ '  ' + el.msg +'  ' + hub.formatDate(el.creationTime)"></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col s12 m6 left">
            <div v-show="total>size" id="pagination">
            </div>
        </div>
        <div class="col s12 m6 right ">
            <h6 class="right" v-show="total>size">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</h6>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/log.js" asp-append-version="true"></script>
}