<h4>
    JOB STATE
</h4>
<div id="view" class="row">
    <table class="card bordered highlight responsive-table centered">
        <thead>
        <tr>
            <th>ClientName</th>
            <th>ClientGroup</th>
            <th>JobId</th>
            <th>TraceId</th>
            <th>Sharding</th>
            <th>ProcessId</th>
            <th>State</th>
            <th>App</th>
            <th>AppArguments</th>
            <th>Msg</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="states.length==0">
            <td colspan="13">
                No data to display...
            </td>
        </tr>
        <tr v-for="state in states">
            <td>
                <span v-text="state.name"></span>
            </td>
            <td>
                <span v-text="state.group"></span>
            </td>
            <td>
                <span v-text="state.jobId"></span>
            </td>
            <td>
                <span v-text="state.traceId"></span>
            </td>
            <td>
                <span v-text="state.sharding"></span>
            </td>
            <td>
                <span v-text="state.processId"></span>
            </td>
            <td>
                <span v-text="state.state"></span>
            </td>
            <td>
                <span v-text="state.app"></span>
            </td>
            <td>
                <span v-text="state.appArguments"></span>
            </td>
            <td>
                <span v-text="state.msg"></span>
            </td>
            <td>
                <span v-text="hub.formatDate(state.lastModificationTime)"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col s12 m6 left">
            <div v-show="total>size" id="pagination">
            </div>
        </div>
        <div class="col s12 m6 right ">
            <h6 class="right" v-show="total>size">Showing <span v-text="page"></span> to <span v-text="size"></span> of <span v-text="total"></span> entries</h6>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jobProcess.js" asp-append-version="true"></script>
}