<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Swarm</a>
        </li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
</section>
<!-- /.content -->