<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        JOB DETAIL
        <small id="jobId">@ViewData["JobId"]</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="fa fa-dashboard"></i> Swarm</a>
        </li>
        <li>Job</li>
        <li class="active">Job Detail</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered" id="view">
                    <tbody>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr v-for="el in els">
                        <td>
                            <span class="left" v-text="el[0]"></span>
                        </td>
                        <td>
                            <span class="left" v-text="el[1]"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>

@section scripts{
    <script>
        $(function() {
            $('#jobMenu').addClass('active');
            
            var jobId = $('#jobId').text();
            if (!jobId) return;
            new Vue({
                el: '#view',
                data: {
                    els: []
                },
                mounted: function() {
                    loadView(this);
                }
            });

            function loadView(vue) {
                const url = '/swarm/v1.0/job/' + jobId;
                hub.get(url,
                    function(result) {
                        vue.$data.els = result.data;
                    });
            }
        });
    </script>
}