<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Swarm.Server</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/sweetalert.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles")
    }
</head>
<body>
<nav class="blue-grey" role="navigation">
    <div class="nav-wrapper container">
        @* <a href="#" class="brand-logo white-text right">Swarm Server</a> *@
        <ul id="nav" class="left hide-on-med-and-down">
            <li>
                <a href="/client">Client</a>
            </li>
            <li>
                <a href="/job">Job</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="createJobDropDown">Create Job Navigation<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li>
                <a href="https://github.com/zlzforever/Swarm">Fork</a>
            </li>
        </ul>
        <ul id="createJobDropDown" class="dropdown-content">
            <li>
                <a href="/job/cronProc">Cron Process</a>
            </li>
            <li>
                <a href="/job/cronProcHttp">Cron Process HTTP</a>
            </li>
            @*<li>
                <a href="/job/cronReflection">Cron Reflection</a>
            </li>
            <li>
                <a href="/job/cronReflectionHttp">Cron Reflection HTTP</a>
            </li>
            <li>
                <a href="/job/simpleProc">Simple Process</a>
            </li>
            <li>
                <a href="/job/simpleProcHttp">Simple Process HTTP</a>
            </li>
            <li>
                <a href="/job/simpleReflection">Simple Reflection</a>
            </li>
            <li>
                <a href="/job/simpleReflectionHttp">Simple Reflection HTTP</a>
            </li>*@
        </ul>
    </div>
</nav>
<div class="container">
    @RenderBody()
    <footer>
        <p>&copy; 2018 - Swarm.Server</p>
    </footer>
</div>

<!--  Scripts-->
<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.twbsPagination.min.js" asp-append-version="true"></script>
<script src="~/js/materialize.min.js" asp-append-version="true"></script>
<script src="~/js/sweetalert.min.js" asp-append-version="true"></script>
<script src="~/js/vue.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@if (IsSectionDefined("scripts"))
{
    @RenderSection("scripts", true)
}
</body>
</html>