<h4>
    NODE
</h4>
<table class="card bordered highlight responsive-table centered" id="view">
    <thead>
    <tr>
        <th width="5">#</th>
        <th>Name</th>
        <th>Group</th>
        <th>IP</th>
        <th>ConnectionId</th>
        <th>Is Connected</th>
        <th>Connected Time</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr v-show="nodes.length==0">
        <td colspan="13">
            No data to display...
        </td>
    </tr>
    <tr v-for="node in nodes">
        <td>
            <span :style="{'background-color': node.isConnected?'green':'red'}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td>
            <span v-text="node.name"></span>
        </td>
        <td>
            <span v-text="node.group"></span>
        </td>
        <td>
            <span v-text="node.ip"></span>
        </td>
        <td>
            <span v-text="node.connectionId"></span>
        </td>
        <td>
            <span v-text="node.isConnected"></span>
        </td>
        <td>
            <span v-text="hub.formatDate(node.lastModificationTime)"></span>
        </td>
        <td>
            <button class="waves-effect waves-light btn-small" @@click.stop="exit(node.connectionId)">Exit</button>
            <button class="waves-effect waves-light btn-small" @@click.stop="remove(node.name,node.group)">Remove</button>
        </td>
    </tr>
    </tbody>
</table>

@section scripts{
    <script src="~/js/node.js" asp-append-version="true"></script>
}